/** CSS for column resizes */
.react-resizable {
    position: relative;
    background-clip: padding-box;
}

.react-resizable-handle {
    position: absolute;
    right: -5px;
    bottom: 0;
    z-index: 1;
    width: 10px;
    height: 100%;
    cursor: col-resize;
}

/** CSS to hide selection column */
.ant-table-selection-column-hidden .ant-table-selection-column {
    max-width: 1px !important;
    min-width: 1px !important;
    width: 1px !important;
    padding: 1px !important;
    border-right: 0 none !important;
}

/** selected row style*/
.advanced-ant-grid .ant-table-tbody > tr.ant-table-row-selected > td {
    background-color: #b7e4ff !important;
}

.advanced-ant-grid.ant-table-no-hover .ant-table-tbody > tr.ant-table-row:hover > td {
    background: unset;
}


/** table auto height hack*/
.advanced-ant-grid-root.auto-height {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.advanced-ant-grid-root.auto-height > .ant-table-wrapper {
    flex-grow: 1;
}

.advanced-ant-grid-root.auto-height > .ant-table-wrapper > .ant-spin-nested-loading {
    height: 100%;
}

.advanced-ant-grid-root.auto-height > .ant-table-wrapper > .ant-spin-nested-loading > .ant-spin-container {
    height: 100%;
}

.advanced-ant-grid-root.auto-height > .ant-table-wrapper > .ant-spin-nested-loading > .ant-spin-container > .ant-table {
    height: 100%;
}

.advanced-ant-grid-root.auto-height > .ant-table-wrapper > .ant-spin-nested-loading > .ant-spin-container > .ant-table > .ant-table-container {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.advanced-ant-grid-root.auto-height > .ant-table-wrapper > .ant-spin-nested-loading > .ant-spin-container > .ant-table > .ant-table-container > .ant-table-body {
    flex-grow: 1;
    overflow: auto scroll !important;
}
/** ------------------------------------- */
