/.idea
/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log

.env
/public/assets/react-app/
/public/localreact.html
/public/mix-manifest.json
/public/assets/components
/app/sql_logger.cfg
/storage/logs
