/* Override ant-modal-content style */
.custom-antd-modal .ant-modal-content {
    padding: 0;
}

/* Override ant-modal-close button position */
.custom-antd-modal .ant-modal-close {
    top: 9px;
    right: 9px;
}

/* Size changer handler style */
.custom-antd-modal .resize-handle-inner {
    width: 12px;
    right: 14px;
    border: 2px solid grey;
    height: 12px;
    bottom: 14px;
    position: absolute;
    border-top: 0;
    border-left: 0;
}

.custom-antd-modal .resize-handle {
    right: -10px;
    width: 30px;
    bottom: -10px;
    cursor: se-resize;
    height: 30px;
    position: absolute;
}

/*--------------------------------------------*/