/* Уменьшение высоты заголовка, подготовка title, чтобы он занимал всю площадь заголовка и был пригоден для перетаскивания */
.modal-dynamic-form .ant-modal-header {
    padding: 0
}

.modal-dynamic-form .ant-modal-title {
    padding: 10px 56px 10px 26px;
}

.modal-dynamic-form .ant-modal-close-x {
    height: 44px;
    line-height: 44px;
}

/*  Цветовые схемы типов форм */
.info-form-type .ant-modal-header {
    background: #cce5ff;
}

.success-form-type .ant-modal-header {
    background: #d4edda;
}

.warning-form-type .ant-modal-header {
    background: #fff3cd;
}

.error-form-type .ant-modal-header {
    background: #ff7875;
}

.error-form-type .ant-modal-title {
    color: white;
}

/* Стиль уголка для изменения размера формы */
.modal-dynamic-form .ant-design-draggable-modal-resize-handle-inner {
    width: 12px;
    right: 14px;
    border: 2px solid grey;
    height: 12px;
    bottom: 14px;
    position: absolute;
    border-top: 0;
    border-left: 0;
}

.modal-dynamic-form .ant-design-draggable-modal-resize-handle {
    right: -10px;
    width: 30px;
    bottom: -10px;
    cursor: se-resize;
    height: 30px;
    position: absolute;
}

/*--------------------------------------------*/
