/* ================== Перегрузка стилей Antd Form =====================*/
/* Настройка отображения заголовков в горизонтальном и вертикальном режиме формы */
.ant-modal-body{
    height: auto !important;
}
.ant-form-item {
    margin-bottom: 0px !important; 
}

/*
.dynamic-form .ant-form-item-with-help .ant-form-item-explain {
    min-height: 19px;
    font-size: 12px;
}

.dynamic-form .ant-row.ant-form-item {
    width: 100%;
    margin-bottom: 0; 
}


.dynamic-form .ant-form-item-label > label {
    font-weight: 600;
}
*/

.dynamic-form .vertical-labels .ant-form-item-label > label {
    height: 20px
}

.dynamic-form .vertical-labels.ant-row.ant-form-item {
    display: inline-block;
    line-height: 1.3;
}

.dynamic-form .horizontal-labels.ant-row.ant-form-item {
    margin-bottom: 5px;
}

.dynamic-form .ant-form-item-control-input {
    min-height: 0;
}

.dynamic-form .ant-col {
    min-height: 0;
}

.dynamic-form .hide-when-empty:empty {
    display: none
}

/* убираем двоеточие после заголовка поля если заголовок пустой*/
/*.dynamic-form .ant-form-item-label > label:empty {
    display: none;
}
*/

/* Исправляем отступ между кнопками табов и содержимым. По умолчанию margin идет от кнопок и тогда этот margin перекрывает sticky элементы (например кнопки меню). Делаем отступ у содержимого, а не кнопок */
.dynamic-form .ant-tabs-top > div > .ant-tabs-nav {
    margin: 0
}
.dynamic-form .ant-tabs-content-holder {
    margin-top: 16px;
}

/* исправляем табы, чтобы была возможность использовать sticky header в Antd Table*/
.dynamic-form .ant-tabs {
    overflow: inherit;
}

/*--For sticky tabs--*/
/*
.dynamic-form .sticky-tab-bar {
    z-index: 10;
    background: transparent;
}
*/
.ant-input-number.sort {
    width: 50px !important;
}